/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Fait tenir les images dans leur parent et enlève l'espacement en bottom */
img {
  display: block;
  max-width: 100%;
}

@media (min-width: 770px) {
  
header {
  background-image: url(../img/bg_pattern.png);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.logo img{
}

.menu-icon {
    display:flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    position: fixed;
}

.menu-icon div {
    width: 23px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

.cards{
margin-top: 60px;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.cards a:nth-child(-n+8){
  grid-template-columns: span 6;
}
.cards a:nth-child(n+9){
  grid-column: 1 / -1;
}

.cards h1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  color: white;
}
.cards img {
  width: 100vh;
  margin: 0;
}

.cards a{
  display:flex;
  justify-content: center;
  align-items: center;
}

.cards h1{
  display:flex;
  justify-content: center;
  align-items: center;
}


.collection::before{
content: "";
background-color: rgba(0, 0, 0, 0.315);
margin:auto;
object-fit: cover;
object-position: center;
max-width: 1500px
}

.collection {
  display:flex;
  align-items: center;
  justify-content: center;
}

.collection img{
margin:auto;
object-fit: cover;
object-position: center;
max-width: 1500px
}

.collection-text a{
text-decoration: none;
color: white;
border: solid 2px white;
padding: 25px;
display: flex;
justify-content: center;
}

.collection-text a:hover{
  background-color: #ffffff7c;
  transition: ease-in 0.2s;
}

.collection-text{
  position: relative;
  left: auto;
  padding:auto;
  position: absolute;
  color: white;
  text-transform: uppercase;
}

.collection-text h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.footer{
  margin:0;
  background-image: url(../img/bg_pattern.png);
}

.centre{
  margin-left: 60px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 0.7;
}

.question{
  margin-top: 20px;
}
.question h3{
  padding-bottom: 20px;
}

.rencontre{
  margin-top: 20px;
}

.propos{
  padding-top: 15px;
}

.invit{
  padding-top: 20px;
}

.formulaire {
  display: flex;
}

.mail{
  border: solid 1px #c2bfbf;
  padding: 20px;
  color:#817e7e ;
}

.buton-p{
  padding: 20px;
  background-color: black;
}
.buton-p a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.reseau{
  width: 150px;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 50px;
  gap: 5px;
}

.reseau a:nth-child(2) :hover{
  background-color: pink;
  transition: color 0.3s ease;
}

.reseau a:nth-child(1) :hover{
  background-color: rgb(80, 14, 69);
  transition: color 0.3s ease;
}

.reseau a:nth-child(3) :hover{
  background-color: rgb(92, 92, 209);
  transition: color 0.3s ease;
}

.reseau a:nth-child(4) :hover{
  background-color: rgb(189, 4, 34);
  transition: color 0.3s ease;
}

.reseau a:nth-child(5) :hover{
  background-color: rgb(138, 55, 69);
  transition: color 0.3s ease;
}

.reseau a:nth-child(6) :hover{
  background-color: rgb(133, 4, 26);
  transition: color 0.3s ease;
}
}
/* a partir de 1024px */
@media screen and (min-width: 1024px) {
.cards{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards a:nth-child(n+9){
  grid-column: span 4;
}
.cards a:nth-child(-n+8){
grid-column: span 3;
}

.centre{
  display:grid;
}
}

@media screen and (min-width: 1024px) {
  header{

  }
}